<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=2.0,minimum-scale=1.0" />
		
		
		<style type="text/css">
			body{-webkit-text-size-adjust: 100%;}
		</style>
		
		<link href="stylesheets/bootstrap.min.css" media="all" type="text/css" rel="stylesheet"/>
		<link href="stylesheets/flexslider.css" media="all" type="text/css" rel="stylesheet"/>
		<link href="stylesheets/firstp.css" media="all" type="text/css" rel="stylesheet"/>
		
		<title>MINING</title>
	</head>
	
	<body>
		<div id="wrapper">	
			<header>
				<div class="header-top col-md-12 col-sm-12 col-xs-12 no-padding">
					<div class="container no-padding">
						<div class="row no-margin">
							
							<div class="contact col-md-12 col-sm-12 col-xs-12 no-padding">
								<ul class="list-inline">
									<li><a href="#nogo"><span class="glyphicon glyphicon-phone-alt"></a></li>
									<li><a href="#nogo"><span class="glyphicon glyphicon-phone"></a></li>
									<li><a href="#nogo"><span class="glyphicon glyphicon-thumbs-up"></a></li>
								</ul>
								
								<p><a href"#nogo">@contact us at : blahblah@blah.com</a></p>
							</div><!--CONTACT-->
							
						</div><!--ROW-->
					</div><!--CONTAINER-->
				</div><!--HEADER-TOP-->
				
				<div class="header-bottom col-md-12 col-sm-12 col-xs-12 no-padding">
					<div class="container no-padding">
						<div class="row no-margin">
							
							<div class="menublock">
								<ul class="menu">
									<li><a href="#nogo">MENU 1</a></li>
									<li><a href="#nogo">MENU 2</a></li>
									<li><a href="#nogo">MENU 3</a></li>
									<li><a href="#nogo">MENU 4</a></li>
									<li><a href="#nogo">MENU 5</a></li>
								</ul>
							</div><!--MENUBLOCK-->
							
						</div><!--ROW-->
					</div><!--CONTAINER-->	
				</div><!--HEADER-BOTTOM-->		
				
				<div class="banner  col-md-12 col-sm-12 col-xs-12 no-padding">
					<div class="flexslider">
						<ul class="slides">
							<li><a href="#nogo">
								<img src="images/19.jpg" class="img-responsive" alt="banner">
								<div class="banner-content">
									<h2>Cras convallis</h2>
								</div><!--BANNER-CONTENT-->
								</a>
							</li>
							<li><a href="#nogo">
								<img src="images/19.jpg" class="img-responsive" alt="banner">
								<div class="banner-content">
									<h2>Cras convallis</h2>
								</div><!--BANNER-CONTENT-->
								</a>
							</li>
							<li><a href="#nogo">
								<img src="images/19.jpg" class="img-responsive" alt="banner">
								<div class="banner-content">
									<h2>Cras convallis</h2>
								</div><!--BANNER-CONTENT-->
								</a>
							</li>
						</ul>
					</div>
				</div><!--BANNER-BLOCK-->	
			</header>
			
			<div class="container-block col-md-12 col-sm-12 col-xs-12 no-padding">
				
				<div class="intro-block col-md-12 col-sm-12 col-xs-12 no-padding">
					<div class="container no-padding">
						<div class="row no-margin">
							
							<div class="content col-md-12 col-sm-12 col-xs-12 no-padding">
								<h3 class="even"><a href="#nogo">Neque porro <span>quisquam</span></a></h3>	
								
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt iaculis libero, in maximus neque luctus quis. 
									Sed semper ultrices libero, vel aliquam felis malesuada at. Integer a dui vitae urna semper volutpat. Ut quis tristique leo. 
									Quisque consequat, nibh eu lobortis volutpat, felis massa maximus quam, ac facilisis arcu urna vitae libero. Vestibulum scelerisque laoreet semper. Suspendisse ac justo justo.
								</p>
								
								<p>Fusce lacinia mauris diam, id viverra urna semper sed. Pellentesque commodo dui risus, in venenatis magna cursus eu. Duis quis molestie eros, eu ultrices dolor. Etiam diam dolor, 
									rhoncus quis massa sed, aliquet porta augue. Donec fringilla interdum ullamcorper. Mauris posuere justo eget dolor ultricies, nec auctor sapien laoreet. Nullam mattis tellus eget libero porta venenatis at ut diam. 
								 	Suspendisse dignissim tristique dui, id finibus nisi lacinia sit amet. 
								</p>
							</div><!--CONTENT-->
							
						</div><!--ROW-->
					</div><!--CONTAINER-->	
				</div><!--INTRO-BLOCK-->
				
				<div class="info-block col-md-12 col-sm-12 col-xs-12 no-padding odd">
					<div class="container no-padding">
						<div class="row no-margin">
							
							<div class="content col-md-12 col-sm-12 col-xs-12 no-padding">
								
								<div class="image-block col-md-7 col-sm-7 col-xs-12 no-padding-left">
									<a href="#nogo"><img src="images/5.jpg" alt="info-img" class="img-responsive"></a>
								</div><!--IMAGE-BLOCK-->
								
								<div class="text-block col-md-5 col-sm-5 col-xs-12 no-padding">
									<h3 class="odd"><a href="#nogo">Qui dolorem <span>ipsum</span></a></h3>
									<p>Fusce lacinia mauris diam, id viverra urna semper sed. Pellentesque commodo dui risus, in venenatis magna cursus eu. Duis quis molestie eros, eu ultrices dolor. Etiam diam dolor, rhoncus quis massa sed, aliquet porta augue. 
										Donec fringilla interdum ullamcorper. Mauris posuere justo eget dolor ultricies, nec auctor sapien laoreet. Nullam mattis tellus eget libero porta venenatis at ut diam. Suspendisse dignissim tristique dui, id finibus nisi lacinia sit amet. 
									</p>
									<div class="read-more">
										<a href="#nogo">READ MORE..</a>
									</div><!--READ-MORE-->
								</div><!--IMAGE-BLOCK-->
							</div><!--CONTENT-->
							
						</div><!--ROW-->
					</div><!--CONTAINER-->	
				</div><!--INFO-BLOCK-->
				
				
				<div class="info-block col-md-12 col-sm-12 col-xs-12 no-padding even">
					<div class="container no-padding">
						<div class="row no-margin">
							
							<div class="content col-md-12 col-sm-12 col-xs-12 no-padding">
								
								<div class="text-block col-md-5 col-sm-5 col-xs-12 no-padding">
									<h3 class="even"><a href="#nogo">Qui dolorem <span>ipsum</span></a></h3>
									<p>Fusce lacinia mauris diam, id viverra urna semper sed. Pellentesque commodo dui risus, in venenatis magna cursus eu. Duis quis molestie eros, eu ultrices dolor. Etiam diam dolor, rhoncus quis massa sed, aliquet porta augue. 
										Donec fringilla interdum ullamcorper. Mauris posuere justo eget dolor ultricies, nec auctor sapien laoreet. Nullam mattis tellus eget libero porta venenatis at ut diam. Suspendisse dignissim tristique dui, id finibus nisi lacinia sit amet. 
									</p>
									<div class="read-more">
										<a href="#nogo">READ MORE..</a>
									</div><!--READ-MORE-->
								</div><!--IMAGE-BLOCK-->
								
								<div class="image-block col-md-7 col-sm-7 col-xs-12 no-padding-left">
									<a href="#nogo"><img src="images/18.jpg" alt="info-img" class="img-responsive"></a>
								</div><!--IMAGE-BLOCK-->
							</div><!--CONTENT-->
							
						</div><!--ROW-->
					</div><!--CONTAINER-->	
				</div><!--INFO-BLOCK-->
				
				<div class="info-block col-md-12 col-sm-12 col-xs-12 no-padding odd">
					<div class="container no-padding">
						<div class="row no-margin">
							
							<div class="content col-md-12 col-sm-12 col-xs-12 no-padding">
								
								<div class="image-block col-md-7 col-sm-7 col-xs-12 no-padding-left">
									<a href="#nogo"><img src="images/5.jpg" alt="info-img" class="img-responsive"></a>
								</div><!--IMAGE-BLOCK-->
								
								<div class="text-block col-md-5 col-sm-5 col-xs-12 no-padding">
									<h3 class="odd"><a href="#nogo">Qui dolorem <span>ipsum</span></a></h3>
									<p>Fusce lacinia mauris diam, id viverra urna semper sed. Pellentesque commodo dui risus, in venenatis magna cursus eu. Duis quis molestie eros, eu ultrices dolor. Etiam diam dolor, rhoncus quis massa sed, aliquet porta augue. 
										Donec fringilla interdum ullamcorper. Mauris posuere justo eget dolor ultricies, nec auctor sapien laoreet. Nullam mattis tellus eget libero porta venenatis at ut diam. Suspendisse dignissim tristique dui, id finibus nisi lacinia sit amet. 
									</p>
									<div class="read-more">
										<a href="#nogo">READ MORE..</a>
									</div><!--READ-MORE-->
								</div><!--IMAGE-BLOCK-->
							</div><!--CONTENT-->
							
						</div><!--ROW-->
					</div><!--CONTAINER-->	
				</div><!--INFO-BLOCK-->
				
			</div><!--CONTAINER-BLOCK-->
			
			<div class="footer col-md-12 col-sm-12 col-xs-12 no-padding">
				<div class="container no-padding">
					<div class="row no-margin">
						
						<div class="footer-content col-md-12 col-sm-12 col-xs-12 no-padding">
							<div class="address-block col-md-4 col-sm-4 col-xs-12">
								<h4>THE GOOD SIDE</h4>
								
								<p>Quisque vel nibh in nunc sodales cursus at id enim.</p>
							</div><!--ADDRESS-BLOCK-->
							
							<div class="dummy col-md-4 col-sm-4 col-xs-12">
								<ul class="list-unstyled">
									<li><a href="#nogo">Dolorem ipsum</a></li>
									<li><a href="#nogo">Dolorem ipsum</a></li>
									<li><a href="#nogo">Dolorem ipsum</a></li>
									<li><a href="#nogo">Dolorem ipsum</a></li>
								</ul>
							</div><!--DUMMY-->
							
							<div class="social-link col-md-4 col-sm-4 col-xs-12">
								<ul class="list-inline">
									<li><a href="#nogo">FB</a></li>
									<li><a href="#nogo">LN</a></li>
									<li><a href="#nogo">TW</a></li>
								</ul>
							</div><!--SOCIAL-LINK-->
						</div><!--CONTENT-->
						
					</div><!--ROW-->
				</div><!--CONTAINER-->
			</div><!--FOOTER-->
			
			
		</div><!--WRAPPER-->
		
		<script src="stylesheets/bootstrap.min.js" type="text/javascript"></script>
		<script src="stylesheets/jquery-1.11.1.js" type="text/javascript"></script>
		<script src="stylesheets/jquery-ui.min2.js" type="text/javascript"></script>
		<script src="stylesheets/jquery.flexslider.js" type="text/javascript"></script>
		<script>
		$(window).load(function() {
			$('.flexslider').flexslider({
					animation : "slide",
					animationSpeed : 2000,
					controlNav : false,
					easing : "swing",
					touch : true,
					pauseOnHover : true
				});
			});	
		</script>	
	</body>
</html>
